@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mosaic-spacing: 6px;
  --primary-color: 211 211 211;
  --secondary-color: 255 186 40;
  --private-channel-color: 226 73 55;
  --public-channel-color: 43 164 37;
  --background-color: 0 0 0;
}

html,
body,
main,
#root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background: rgb(var(--background-color));
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
}

#root {
  color: rgb(var(--primary-color));
}

.mosaic {
  background-color: rgb(var(--background-color));
}

.mosaic-root {
  top: var(--mosaic-spacing);
  right: var(--mosaic-spacing);
  bottom: var(--mosaic-spacing);
  left: var(--mosaic-spacing);
}

.mosaic-tile {
  margin: var(--mosaic-spacing);
}

.channel-status-closed {
  --color: var(--primary-color);
}

.channel-status-private {
  --color: var(--private-channel-color);
}

.channel-status-public {
  --color: var(--public-channel-color);
}

.mosaic-window,
.mosaic-preview {
  border-width: 2px;
  border-radius: 2px;

  color: rgb(var(--color));
  border-color: rgb(var(--color));
  --scrollbar-thumb: rgb(var(--color) / 50%);
  --scrollbar-thumb-hover: rgb(var(--color) / 100%);
  --scrollbar-track: rgb(var(--color) / 33%);
}

.channel-block {
  color: rgb(var(--color));
  border-color: rgb(var(--color));
}

.mosaic-window .mosaic-window-toolbar,
.mosaic-preview .mosaic-window-toolbar {
  border-bottom-width: 2px;
  border-color: inherit;
  background-color: rgb(var(--background-color));
  color: inherit;
  height: 35px;
}

.mosaic-window .mosaic-window-title,
.mosaic-preview .mosaic-window-title {
  padding-left: 0.5rem;
  font-weight: bold;
  user-select: none;
}

.mosaic-window .mosaic-window-body,
.mosaic-preview .mosaic-window-body {
  background-color: rgb(var(--background-color));
}

.drop-target-container .drop-target {
  border-width: 2;
  background: rgb(var(--secondary-color) / 50%) !important;
  border-color: rgb(var(--secondary-color)) !important;
}

.mosaic-split:hover {
  background: rgb(var(--secondary-color) / 50%);
}

@layer components {
  .scrollbar-thin {
    overflow: auto;
  }
}

@layer utilities {
  .bg-dot-grid-secondary {
    background: linear-gradient(
      45deg,
      rgb(var(--secondary-color) / 30%),
      rgb(var(--secondary-color) / 30%) 50%,
      rgb(var(--secondary-color) / 20%) 50%,
      rgb(var(--secondary-color) / 20%)
    );
    background-size: 2px 2px;
  }
}
