@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mosaic-spacing: 6px;

  --primary-color: 211 211 211;
  --secondary-color: 198 120 221;
  --private-channel-color: 226 73 55;
  --public-channel-color: 43 164 37;
}

html,
body,
main,
#root {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

#root {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;

  color: rgb(var(--primary-color));
}

.mosaic {
  background-color: black;
}

.mosaic-root {
  top: var(--mosaic-spacing);
  right: var(--mosaic-spacing);
  bottom: var(--mosaic-spacing);
  left: var(--mosaic-spacing);
}

.mosaic-tile {
  margin: var(--mosaic-spacing);
}

.mosaic-window.channel-status-closed {
  --color: var(--primary-color);
}

.mosaic-window.channel-status-private {
  --color: var(--private-channel-color);
}

.mosaic-window.channel-status-public {
  --color: var(--public-channel-color);
}

.mosaic-window,
.mosaic-preview {
  border-width: 2px;
  border-radius: 2px;

  color: rgb(var(--color));
  border-color: rgb(var(--color));
  --scrollbar-thumb: rgb(var(--color) / 50%);
  --scrollbar-thumb-hover: rgb(var(--color) / 100%);
  --scrollbar-track: rgb(var(--color) / 33%);
}

.mosaic-window .mosaic-window-toolbar,
.mosaic-preview .mosaic-window-toolbar {
  border-bottom-width: 2px;
  border-color: inherit;
  background: black;
  color: inherit;
  height: 35px;
}

.mosaic-window .mosaic-window-title,
.mosaic-preview .mosaic-window-title {
  padding-left: 0.5rem;
  font-weight: bold;
}

.mosaic-window .mosaic-window-body,
.mosaic-preview .mosaic-window-body {
  @apply bg-black;
}

.drop-target-container .drop-target {
  border-width: 2;
  background: rgb(var(--secondary-color) / 50%) !important;
  border-color: rgb(var(--secondary-color)) !important;
}

.mosaic-split:hover {
  background: rgb(var(--secondary-color) / 50%);
}
